<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Doctive</title>

    <!-- Font Awesome Icons -->
    <link href="/res/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/res/css/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="/res/css/creative.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">DOCTIVE</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false"> Sign In </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/adminLogin">Admin / Nurse</a>
                        <a class="dropdown-item" href="/doctorLogin">Doctor</a>
{#                        <a class="dropdown-item" href="/nurseLogin">Nurse</a>#}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Masthead -->
<header class="masthead">

    <div class="container h-100" src >
{#        <div style="background-image: url('A.jpg');"></div>#}

        <div class="row h-100 align-items-center justify-content-center text-center"><img src="/res/img/A.jpg" background-position="centre">
{#            <img class="background-img" src="/res/img/A.jpg" height="100%">#}
            <div class="col-lg-10 align-self-end">

                <h1 class="text-uppercase text-white font-weight-bold">DOCTIVE</h1>
                <h1 class="text-white-50 text-white font-weight-bold">Habit-Change Support Web-Based System for Hospitals</h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">“Striving to create a healthier tomorrow.”</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
            </div>
        </img>
        </div>
    </div>
</header>

<!-- About Section -->
<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">We've got what you need!</h2>
                <hr class="divider light my-4">
{#                <p class="text-white-50 mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! Choose one of our open source, free to download, and easy to use themes! No strings attached!</p>#}
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<footer class="bg-light py-5">
    <div class="container">
        <div class="small text-center text-muted">Copyright &copy; 2019 - Start Bootstrap</div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/res/js/jquery/dist/jquery.min.js"></script>


<!-- Plugin JavaScript -->
<script src="/res/js/jquery-easing/jquery.easing.min.js"></script>
<script src="/res/js/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/res/js/creative.min.js"></script>


<script src="/res/js/jquery/dist/jquery.min.js"></script>
<script src="/res/js/popper.js/dist/umd/popper.min.js"></script>
<script src="/res/css/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/res/js/main.js"></script>


{#<script src="../res/js/chart.js/dist/Chart.bundle.min.js"></script>#}
{#<script src="../res/js/dashboard.js"></script>#}
{#<script src="../res/js/widgets.js"></script>#}
{#<script src="../res/js/jqvmap/dist/jquery.vmap.min.js"></script>#}
{#<script src="../res/js/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>#}
{#<script src="../res/js/jqvmap/dist/maps/jquery.vmap.world.js"></script>#}

{#<!-- jQuery-2.2.4 js -->#}
{#<script src="../res/js/jquery/dist/jquery.js"></script>#}
{#<!-- Popper js -->#}
{#<script src="../res/js/popper.js"></script>#}
{#<!-- Bootstrap-4 js -->#}
{#<script src="../res/css/bootstrap/bootstrap.min.js"></script>#}
{#<!-- All Plugins js -->#}
{#<script src="../res/js/others/plugins.js"></script>#}
{#<!-- Active JS -->#}
{#<script src="../res/js/active.js"></script>#}
</body>

</html>